body {
  background-color: black;
  cursor: url("images/genshinMouse.png"), auto;
}
body,
html {
  height: 100%;
}
* {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*Navigation*/
.nav {
  display: flex;
  flex-direction: row;
  height: 5rem;
  position: fixed;
  z-index: 11;
}
.navLeft img {
  display: block;
  height: 5rem;
  margin-left: 1rem;
}
.navRight {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 70rem;
}
.navRight a {
  text-decoration: none;
  text-align: center;
  margin-left: 2rem;
  padding: 5px 5px 5px 5px;
  cursor: url("images/genshinMouse.png"), auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*Section*/
section {
  height: 100%;
  width: 100%;
}

/*Header*/
.sectionHeader {
  padding-top: 5rem;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px rgb(124, 124, 124) solid;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*Section Home*/
section#home {
  background-image: url("images/home.gif");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s ease-in-out;
}
.home-content {
  margin: auto;
}
.home-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.home-intro {
  text-align: center;
  font-size: 2rem;
}
section#home button {
  background-color: rgb(255, 211, 65);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 47%;
  border-radius: 1rem;
  cursor: url("images/genshinMouse.png"), auto;
}

/*Section Character*/
section#characters {
  background-image: url("images/characterDefaultBG.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.character-content {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.char-card {
  width: 300px;
  height: 350px;
  position: relative;
  overflow: hidden; /* Hide overflow by default */
  border: 1px solid #ddd; /* Optional: border for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: box shadow for a card effect */
  border-radius: 20px;
  margin-left: 3rem;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

/*Character Description*/
.image-info {
  display: none; /* Hidden by default */
  position: absolute;
  bottom: 10px; /* Position it at the bottom of the image */
  left: 10px; /* Position it from the left */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000; /* Make sure it appears above other content */
  transition: opacity 0.3s ease; /* Smooth transition */
}
.char-description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.char-card:hover {
  overflow: visible; /* Allow overflow when hovering over the card */
}

.char-card:hover .image-container img {
  transform: translate(-50%, -50%) scale(1.5); /* Move the image and scale it up */
  top: 50%;
  left: 50%;
  z-index: 10; /* Ensure the image appears above other content */
}

/*Char Card BG*/
/* Target the first character card */
.char-card:nth-child(1) {
  background-image: url("images/anemoBG.png");
  background-position: center;
}

/* Target the second character card */
.char-card:nth-child(2) {
  background-image: url("images/anemoBG.png");
  background-position: center;
}
/* Target the second character card */
.char-card:nth-child(2) img:hover {
  width: 15rem;
}

/* Target the third character card */
.char-card:nth-child(3) {
  background-image: url("images/hydroBG.png");
  background-position: center;
}
.char-card:nth-child(3) img {
  width: 25rem;
}
.char-card:nth-child(3) img:hover {
  width: 28rem;
}
.char-card:nth-child(4) {
  background-image: url("images/pyroBG.png");
  background-position: center;
}
.char-card:nth-child(4) img:hover {
  width: 25rem;
}
.char-card:nth-child(5) {
  background-image: url("images/anemoBG.png");
  background-position: center;
}

/*Section Account*/
section#account {
  background-image: url("images/accountBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.account-content {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
}
.main-information {
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgba(87, 87, 87, 0.63);
  border-radius: 1rem;
  height: 48rem;
}

/*Main Information Header*/
.mainAcc-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  border-bottom: 1px white solid;
}
.mainAcc-header img {
  border-radius: 50%;
  height: 10rem;
  background-color: rgb(19, 139, 109);
}
.mainAcc-header .acc-stats {
  margin-left: 1.5rem;
}

/*Main Information Body*/
.mainAcc-body {
  padding: 0.2rem 1rem 1rem 1rem;
  margin-top: 0.75rem;
  border-radius: 1rem;
  height: 70%;
  background-color: rgba(141, 141, 141, 0.63);
}
.mainAcc-body h1 {
  padding-bottom: 0.75rem;
  border-bottom: 1px white solid;
}
.mainAcc-body img {
  height: 1.5rem;
}

/*Sub Information*/
.sub-information {
  display: flex;
  flex-direction: column;
}
/*Info Box Style*/
.subInfo-box {
  width: 80rem;
  height: 10rem;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}
.subInfo-box h1 {
  text-align: center;

  border-bottom: 1px white solid;
  padding-bottom: 0.5rem;
}

/*Serenitea Pot Box Style*/
#sereniteaPot {
  background-image: url("images/sereniteaPot.jpg");
  background-size: cover;
  background-position: center;
}
.subInfo-sereniteaPot {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.562);
}
.subInfo-sereniteaPot p {
  margin-left: 7rem;
}

/*World Exploration Box Style*/
#worldExploration {
  background-image: url("images/worldExplo.png");
  background-size: cover;
  background-position: center;
  height: 33rem;
}
.explo-body {
  display: flex;
  flex-direction: row;
}
.explo-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  background-color: #808080c2;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 1rem;
}
.explo-box img {
  height: 8rem;
}
.statistics {
  width: 10rem;
}

/*Explo Progress Bar*/
.progress-bar {
  width: 100%;
  background-color: #bebebe;
  border-radius: 25px;
  overflow: hidden;
}
.progress {
  width: 50%;
  height: 10px;
  background-color: #c0a821;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 25px 0 0 25px;
}

/*rwo 2 and 3 margins*/
.row-2 {
  margin-left: 12rem;
}
.row-3 {
  margin-left: 12rem;
}
/*Chasm h2 Adjust*/
#chasm h2 {
  font-size: 18px;
}
